.App {
  text-align: center;
}

.spinner {
  position: fixed;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-top-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
  padding: 25px 0px;
  margin: 0;
  font-size: 2.5em;
}

button {
  cursor: pointer;
}

#root {
  background-color: rgb(255, 255, 242);
  height: 100vh;
}

.statements-root {
  /* margin: 0 300px; */
}

.statement-root {
  width: 1000px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(223, 255, 223);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;;
}

.statement-left, .statement-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statement-left {
  align-items: flex-end;
}

.statement-right {
  align-items: flex-start;
}

.amount {
  font-size: 1.75em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
