.App {
  text-align: center;
}

.spinner {
  position: fixed;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-top-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
  padding: 25px 0px;
  margin: 0;
  font-size: 2.5em;
}

button {
  cursor: pointer;
}

#root {
  background-color: rgb(255, 255, 242);
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.spending {
  width: 490px;
  height: 60px;
  border-radius: 15px;
  background-color: rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.yearly-spending {
  justify-content: flex-end;
  /* align-self: flex-end; */
}

.monthly-spending {
  justify-content: flex-end;
  /* align-self: flex-start; */
}

#total-spendings {
  width: 1000px;
  /* display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px; */

  display: flex;
  justify-content: space-between;

  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  */
} 

.statement-root {
  width: 1000px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(223, 242, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.statement-left, .statement-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statement-left {
  align-items: flex-end;
}

.statement-right {
  align-items: flex-start;
}

.amount {
  font-size: 1.75em;
}

.withdrawal {
  background-color: rgb(255, 234, 234);
}

.deposit {
  background-color:  rgba(223, 255, 223);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 45%;
  margin-top: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}