@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans+Condensed:wght@300&display=swap');
.App {
  text-align: center;
}

.spinner {
  position: fixed;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-top-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  background-color: #d1e5c9;
}

.loader-root {
  height: 100vh;
}

.main-root {
  margin: 0px 120px;
}

.main-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}

.supporting-font {
  font-family: 'Lato', sans-serif;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.title > img {
  width: 75px;
  margin: 0px 20px;
}

.title > h1 {
  margin: 25px 0px 0px 0px;
  font-size: 4em;
}

.tagline {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 50px 0px;
}

button, select, select > option, .increase > label > input {
  cursor: pointer;
}

button {
  background-color:gray;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: .75em;
}

button:hover {
  background-color: rgba(128, 128, 128, .5);
}

#total-spendings, .statement-root {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.spending {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  border: solid gray;
}

.spending > h3, .sum, .amount {
  font-size: 2em;
}

.sum, .amount {
  font-weight: 800;
}

.sum {
  margin-left: 10px;
}

#add-button {
  margin-top: 20px;
  padding: 15px;
}

#sources {
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: .75em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.statement-root {
  position: relative;
  background-color: rgba(128, 128, 128, .5);
  border-radius: 15px;
  margin: 15px 0px;
  padding: 25px 25px 40px 25px;
  grid-template-columns: 50% 50%;
}

.statement-left, .statement-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: flex-start;
  align-items: flex-start;
}

.date {
  color: gray;
  font-size: 1em;
  margin-top: 10px;
}

.category {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.description {
  margin-bottom: 10px;
  font-size: 1em;
}

.deposit, .withdrawal {
  background-color: rgba(255, 255, 255, .9);
}

.deposit {
  border: solid darkgreen;
}

.deposit .amount {
  color: darkgreen;
}

.withdrawal {
  border: solid #cb697e;
}

.withdrawal .amount {
  color: #cb697e;
}

.edit-button, .editing-buttons {
  position: absolute;
  right: 1%;
  bottom: 10%;
  padding: 10px;
}

.editing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  bottom: 0;
  right: 0;
}

.editing-buttons > button {
  margin: 0 5px;
  padding: 10px;
  color: black;
  background-color: white;
}

.editing-buttons > button:hover {
  background-color: rgba(255, 255, 255, .5);
}

.edit-statement{
  margin: 10px;
}

.edit-statement > label, .edit-statement > div {
  margin: 5px 0px;
}

input, select, .increase > label {
  margin-left: 10px;
}

input, select, textarea {
 border: none;
}

textarea {
  margin-top: 2px;
  height: 100%;
  width: 100%;
  padding: 5px;
}

input[type=number] {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 16px solid white;
  border-top: 16px solid #cb697e;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 45%;
  margin-top: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}